.access-box {
	width: 80%;
	max-width: 600px;

	padding: 40px 20px 40px 20px;

	backdrop-filter: blur(5px);
	
	border-radius: 8px;
	box-shadow: 0 0 10px rgb(214, 214, 214);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.access-box-form {
  	margin: 20px 0 0 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.access-box-form-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	gap: 15px;
	margin-bottom: 15px;
}

label {
	font-weight: bold;
	letter-spacing: 1px;
	width: auto;
	text-align: right;
}

input[type="text"] {
	padding: 10px;
	flex: 1;
	border: 1px solid var(--secondary-color);
	border-radius: 4px;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}