body {
    font-family: Monaco, sans-serif;
    color: #ffffff;
    background-image: url("../../assets/img/moon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
	text-align: center;
	backdrop-filter: blur(10px);
	padding: 40px;
	border-radius: 12px;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
	max-width: 1200px;
	width: 90%;
	max-height: 600px;
	background: rgba(0, 0, 0, 0.5);
	/* Sfondo leggermente scuro e trasparente */
	overflow-y: auto;
}

h1 {
	margin-bottom: 30px;
	color: #ffffff;
	font-size: 1.8em;
}

/* Contenitore notifiche scorrevole */
.messages {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-height: 500px;
	overflow-y: auto;
	padding-right: 5px;
	background: rgba(0, 0, 0, 0.3);
	/* Sfondo trasparente per vedere lo sfondo della luna */
	border-radius: 8px;
	padding: 10px;
}