.messages-container {
	width: 80%;
	max-width: 600px;
	height: 80%;

	padding: 40px 20px 40px 20px;

	backdrop-filter: blur(5px);
	
	border-radius: 8px;
	box-shadow: 0 0 10px rgb(214, 214, 214);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#disconnect-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 24px;
    height: 24px;

    background-color: white;

    -webkit-mask-image: url("../../assets/img/disconnect-icon.png");
    mask-image: url("../../assets/img/disconnect-icon.png");
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    
    cursor: pointer;
}

.messages-list {
	height: 80%;
	width: 80%;
	
	padding: 10px;

	display: flex;
	flex-direction: column;

	gap: 10px;

	overflow-y: scroll;

	background: rgba(0, 0, 0, 0.3);
	border-radius: 8px;
}